[flake8]
ignore =
    # whitespace before ':'
    E203,
    # too many leading ### in a block comment
    E266,
    # line too long (managed by black)
    E501,
    # Line break occurred before a binary operator (this is not PEP8 compatible)
    W503,
    # do not enforce existence of docstrings
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D106,
    D107,
    # needed because of https://github.com/ambv/black/issues/144
    D202,
    # other string does contain unindexed parameters
    P103
max-line-length = 80
max-complexity = 10
doctests = True
